<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ifresh.customer">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>


    <application
        android:name="com.ifresh.customer.helper.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:usesCleartextTraffic,android:allowBackup">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />
        <meta-data
            android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="false" />


        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />


        <!-- Kotlin Classes Deceleration -->

        <activity android:name="com.ifresh.customer.kotlin.LocationSelection_K" />
        <activity android:name="com.ifresh.customer.kotlin.OtpActivity_K" />
        <activity android:name="com.ifresh.customer.kotlin.SignUpActivity_K" />
        <activity android:name="com.ifresh.customer.kotlin.SignInActivity_K" />
        <activity android:name="com.ifresh.customer.kotlin.ChangePassword" />
        <activity android:name="com.ifresh.customer.kotlin.EditProfile_K" />
        <activity android:name="com.ifresh.customer.kotlin.ForgetPassword_K" />
        <activity android:name="com.ifresh.customer.kotlin.PhoneUpdate_K" />
        <activity android:name="com.ifresh.customer.kotlin.FillAddress" />


        <activity android:name="com.ifresh.customer.kotlin.SplashActivity_KT" /> <!-- Java Classes Deceleration -->
        <activity android:name="com.ifresh.customer.activity.ProductListActivity_2" />
        <activity android:name="com.ifresh.customer.activity.MedicalListActivity_2" />


        <activity android:name="com.ifresh.customer.activity.OfferProductListActivity" />
        <activity android:name="com.ifresh.customer.activity.OrderListActivity_2" />
        <activity android:name="com.ifresh.customer.activity.OfferImageDetail" />
        <activity android:name="com.ifresh.customer.activity.ImageFullView" />
        <activity android:name="com.ifresh.customer.activity.MapsActivity" />
        <activity android:name="com.ifresh.customer.activity.WalletBalanceList" />
        <activity android:name="com.ifresh.customer.activity.FriendCodeList" />
        <activity android:name="com.ifresh.customer.activity.NotificationList" />
        <activity android:name="com.ifresh.customer.activity.DrawerActivity" />
        <activity android:name="com.ifresh.customer.activity.WebViewActivity" />
        <activity android:name="com.ifresh.customer.activity.MapActivity" />
        <activity android:name="com.ifresh.customer.activity.OrderListActivity" />
        <activity android:name="com.ifresh.customer.activity.TrackerDetailActivity" />
        <activity android:name="com.ifresh.customer.activity.OrderPlacedActivity" />
        <activity android:name="com.ifresh.customer.activity.MedicalOrderPlacedActivity" />
        <activity android:name="com.ifresh.customer.activity.CheckoutActivity_2" />
        <activity android:name="com.ifresh.customer.activity.SetDefaultAddress_2"/>
        <activity android:name="com.ifresh.customer.activity.FailedRazaorPay"/>
        <activity android:name="com.ifresh.customer.activity.SearchActivity_2" />
        <activity android:name="com.ifresh.customer.activity.FullScreenViewActivity" />
        <activity android:name="com.ifresh.customer.activity.UploadMedicine"/>


        <activity android:name="com.ifresh.customer.activity.ProductDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifresh.customer.activity.SplashActivity" />
        </activity>
        <activity android:name="com.ifresh.customer.activity.ProductDetailActivity_2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifresh.customer.activity.SplashActivity" />
        </activity>
        <activity
            android:name="com.ifresh.customer.activity.SearchActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.ifresh.customer.activity.ProfileActivity" /> <!-- LAUNCHER ClASS Deceleration -->
        <activity android:name="com.ifresh.customer.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="ekart.wrteam.in"
                    android:pathPrefix="/refer"
                    android:scheme="https" />
                <data
                    android:host="ekart.wrteam.in"
                    android:pathPrefix="/itemdetail"
                    android:scheme="https" />
            </intent-filter>
            -->

        </activity>
        <activity android:name="com.ifresh.customer.activity.MainActivity" />
        <activity android:name="com.ifresh.customer.activity.ReferEarnActivity" />
        <activity android:name="com.ifresh.customer.activity.SubCategoryActivity" />
        <activity android:name="com.ifresh.customer.activity.FavouriteActivity" />
        <activity android:name="com.ifresh.customer.activity.CartActivity_2" />
        <activity android:name="com.ifresh.customer.activity.CategoryActivity" />
        <activity android:name="com.ifresh.customer.activity.PayPalWebActivity" />
        <activity android:name="com.ifresh.customer.activity.ProductCategory"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>



        <receiver android:name="com.ifresh.customer.helper.SMSBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <service android:name="com.ifresh.customer.helper.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ifresh.customer.helper.GPSTracker" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.facebook.sdk.CodelessDebugLogEnabled"
            android:value="true" />
    </application>

</manifest>