<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ifresh.customerr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name="com.ifresh.customerr.helper.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic,android:allowBackup">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false"/>
        <meta-data android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="false"/>
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <!-- Kotlin Classes Deceleration -->
        <activity android:name="com.ifresh.customerr.kotlin.LocationSelection_K"/>
        <activity android:name="com.ifresh.customerr.kotlin.OtpActivity_K"/>
        <activity android:name="com.ifresh.customerr.kotlin.SignUpActivity_K"/>
        <activity android:name="com.ifresh.customerr.kotlin.SignInActivity_K"/>

        <activity android:name="com.ifresh.customerr.kotlin.ChangePassword"/>

        <activity android:name="com.ifresh.customerr.kotlin.EditProfile_K"/>
        <activity android:name="com.ifresh.customerr.kotlin.ForgetPassword_K"/>
        <activity android:name="com.ifresh.customerr.kotlin.PhoneUpdate_K"/>
        <activity android:name="com.ifresh.customerr.kotlin.SetAddress_K"/>
        <activity android:name="com.ifresh.customerr.kotlin.SetAddress2_K"/>

        <activity android:name="com.ifresh.customerr.kotlin.SplashActivity_KT"/>

        <!-- Java Classes Deceleration -->
        <activity android:name="com.ifresh.customerr.activity.ProductListActivity_2"/>
        <activity android:name="com.ifresh.customerr.activity.OrderListActivity_2"/>




        <activity android:name="com.ifresh.customerr.activity.SetDefaultAddress"/>
        <activity android:name="com.ifresh.customerr.activity.OfferImageDetail"/>
        <activity android:name="com.ifresh.customerr.activity.ImageFullView"/>
        <activity android:name="com.ifresh.customerr.activity.MapsActivity" />
        <activity android:name="com.ifresh.customerr.activity.WalletBalanceList" />
        <activity android:name="com.ifresh.customerr.activity.NotificationList" />
        <activity android:name="com.ifresh.customerr.activity.DrawerActivity" />
        <activity android:name="com.ifresh.customerr.activity.WebViewActivity" />
        <activity android:name="com.ifresh.customerr.activity.MapActivity" />
        <activity android:name="com.ifresh.customerr.activity.OrderListActivity" />
        <activity android:name="com.ifresh.customerr.activity.TrackerDetailActivity" />
        <activity android:name="com.ifresh.customerr.activity.OrderPlacedActivity" />
        <activity android:name="com.ifresh.customerr.activity.CheckoutActivity" />
        <activity android:name="com.ifresh.customerr.activity.CheckoutActivity_2" />
        <activity android:name="com.ifresh.customerr.activity.SetDefaultAddress_2" />
        <activity android:name="com.ifresh.customerr.activity.SearchActivity_2" />







        <activity android:name="com.ifresh.customerr.activity.FullScreenViewActivity" />

        <activity android:name="com.ifresh.customerr.activity.ProductDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifresh.customerr.activity.SplashActivity" />
        </activity>

        <activity android:name="com.ifresh.customerr.activity.ProductDetailActivity_2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ifresh.customerr.activity.SplashActivity" />
        </activity>


        <activity
            android:name="com.ifresh.customerr.activity.SearchActivity"
            android:launchMode="singleTop" />

        <activity android:name="com.ifresh.customerr.activity.ProfileActivity" />


        <!-- LAUNCHER ClASS Deceleration -->
        <activity android:name="com.ifresh.customerr.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="ekart.wrteam.in"
                    android:pathPrefix="/refer"
                    android:scheme="https" />
                <data
                    android:host="ekart.wrteam.in"
                    android:pathPrefix="/itemdetail"
                    android:scheme="https" />
            </intent-filter>
            -->

        </activity>
        <activity android:name="com.ifresh.customerr.activity.MainActivity" />
        <activity android:name="com.ifresh.customerr.activity.ReferEarnActivity" />
        <activity android:name="com.ifresh.customerr.activity.SubCategoryActivity" />
        <activity android:name="com.ifresh.customerr.activity.FavouriteActivity" />
        <activity android:name="com.ifresh.customerr.activity.CartActivity" />
        <activity android:name="com.ifresh.customerr.activity.CartActivity_2" />

        <activity android:name="com.ifresh.customerr.activity.ProductListActivity" />
        <activity android:name="com.ifresh.customerr.activity.CategoryActivity" />
        <activity android:name="com.ifresh.customerr.activity.PayPalWebActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name="com.ifresh.customerr.helper.SMSBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        <service android:name="com.ifresh.customerr.helper.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.ifresh.customerr.helper.GPSTracker" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>